# Python

__pycache__/
*.py[cod]

# Virtual environments

.venv/
venv/
env/

# Jupyter

.ipynb_checkpoints/

# IDE

.vscode/
.idea/

# Data

datasets/

# Outputs

outputs/
outputs_hpc_140k/
notebooks/checkpoints/
notebooks/lightning_logs/

# Model weights

*.ckpt
*.pth
*.pt

# OS files

.DS_Store
Thumbs.db

# Excel
*.xlsx

# Videos
*.mp4